#root {
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 20px;
  padding: 20px;
  border: 1px solid #dddddd;
}

header h1 {
  margin-bottom: 10px;
}

header i {
  color: #5c47d3;
  font-size: 30px;
  margin-right: 10px;
}

footer {
  text-align: center;
  padding: 5px;

}

footer a,
span {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 80vh;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.numbers {
  background-color: #5c47d3;
  padding: 20px;
  color: white;
  border-radius: 5px;
  font-size: 40px;
  width: 85px;
  text-align: center;
}

.count {
  border: none;
  background-color: white;
  font-size: 60px;
  width: 50px;
}

.reset-button {
  color: white;
  background-color: #5c47d3;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}